.numbers-div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-top: 20px;
}

.number-btn {
  background-color: #153d77;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  box-shadow: 0px 5px #570c1b;
  height: 90px;
  width: 90px;
  text-align: center;
  cursor: pointer;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-right: 30px;
}

.number-btn:hover,
.zero-btn:hover {
  background-color: #386cbb;
}

.zero-btn {
  background-color: #153d77;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  box-shadow: 0px 5px #570c1b;
  height: 90px;
  padding: 10px 100px;
  text-align: center;
  cursor: pointer;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-right: 20px;
}
