.container {
  background-color: #b91737;
  width: 100%;
  max-width: 550px;
  border-radius: 15px;
  border: 2px solid grey;
  padding-bottom: 25px;
  margin: 0 auto;
}
.display {
  margin: 25px auto;
  height: 100px;
  width: 430px;
  border-radius: 50px;
  color: white;
  background-color: #322c2d;
  box-shadow: 1px 1px #322c2d;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 4%;
  font-size: 3.5rem;
  line-height: 100px;
}

.buttons-div {
  display: flex;
  justify-content: space-between;
  margin: 35px 7px 0 7px;
}

.specials-numbers-div {
  width: 75%;
}

.operators-div {
  width: 25%;
}
